*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@font-face {
    font-family: 'newspaper';
    src: url('../fonts/NewspaperPersonalUseSemiExpandedRegular-7B0GB.ttf');
}
@font-face {
    font-family: 'ananda';
    src: url('../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
}

@font-face {
    font-family: 'bonello';
    src: url('../fonts/Bonello-Regular.otf');
}

@font-face {
    font-family: 'genty';
    src: url('/assets/fonts/GentyDemo-Regular.ttf');
}


@font-face {
    font-family: 'subway-scribble';
    src: url('../fonts/SubwayScribble-e8Z3.ttf');
}

@font-face {
    font-family: 'scribble-lines';
    src: url('../fonts/ScribbleLines-evwe.ttf');
}

@font-face {
    font-family: 'frogie';
    src: url('../fonts/Frogie-Regular.ttf');
}

@font-face {
    font-family: 'grestal';
    src: url('../fonts/GrestalScriptDemoRegular-dBYX.ttf');
}


.hero
{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #ddf2ae, #d7f0a5, #f2efcc, #fee9e8,#f4f9ff);
    background-position: center;
    background-size: cover;
    padding: 10px 10% ;
    overflow: hidden;
}


nav{
    display: flex;
    align-items: center;
    justify-content:center;
    border-style: solid;
    border-color: #4c4c4c;
    background-color: #ffacb1;
    padding: 13px 50px;
    position: relative;
    width: 120%;
   right: 10%;
   gap: 1rem;
   top: 1rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #4c4c4c;
    font-family: 'newspaper';
    font-size: 18px;
    position: relative;
}

nav ul li a:hover {
    color: #f12c88; /* Change to desired hover color */
}



.container {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
}

.container img {
    height: 45rem;
    filter: drop-shadow(-20px 0 20px #000);
    position: absolute;
    left: 40%;
    top: 10%;
    transition: .5s ease;
    z-index: 2;
    
}

.container:hover img {
    left: 0%;
}

.phds{
    top: 20%;
}
.text-content {
    max-width: 420px;
    height: 270px;
    border: 3px solid;
    top: 100%;
    transform: translateY(-50%);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 20px #000;
    border-color: #4c4c4c;
    background-image: linear-gradient(45deg, #ffc965,#ffc965,#fdf2c5);
    position: relative;
    left: 110%;
    margin-left: 3rem;
    margin-top: 3rem;
    transition: .5s ease;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container:hover .text-content {
    left: 69%;
    top: 90%;
    visibility: visible;
    opacity: 1;
    position: relative;
}

.text-content h2 {
    color: white;
    filter: drop-shadow(1px 0 1px #000);
    font-family: 'bonello';
    font-size: 47px;   
    margin-left: 3.3rem;
    text-shadow: 6px 1px #91AD53;
    transition: transform .7s ease, opacity .7s ease;
    letter-spacing: 2px;
}

.container:hover h2 {
    transform: translateX(0px);
    opacity: 1;
}

.text-content .description {
    filter: drop-shadow(1px 0 1px #000);
    font-family: 'grestal';
    color: white;
    font-size: 18px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    transition: transform .7s ease, opacity .7s ease;
}

.container:hover .description {
    transform: translateX(0px);
    opacity: 1;
}

.text-content .des {
    filter: drop-shadow(1px 0 1px #000);
    color: #fff9f9;
    font-family: 'newspaper';
    font-size: 12px;
    margin-left: 3.3rem;
    line-height: 20px;
    transition: transform .7s ease, opacity .7s ease;
}

.container:hover .des {
    transform: translateX(0px);
    opacity: 1;
}