@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

@font-face {
  font-family: 'newspaper';
  src: url('../fonts/NewspaperPersonalUseSemiExpandedRegular-7B0GB.ttf');
}

@font-face {
  font-family: 'ananda';
  src: url('../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
}

@font-face {
  font-family: 'bonello';
  src: url('../fonts/Bonello-Regular.otf');
}

@font-face {
  font-family: 'genty';
  src: url('/assets/fonts/GentyDemo-Regular.ttf');
}

@font-face {
  font-family: 'subway-scribble';
  src: url('../fonts/SubwayScribble-e8Z3.ttf');
}

@font-face {
  font-family: 'scribble-lines';
  src: url('../fonts/ScribbleLines-evwe.ttf');
}

@font-face {
  font-family: 'frogie';
  src: url('../fonts/Frogie-Regular.ttf');
}

@font-face {
  font-family: 'grestal';
  src: url('../fonts/GrestalScriptDemoRegular-dBYX.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #000000;
  background-color: #ffacb1;
  position: absolute;
  width: 97%;
  right: 5%;
  gap: 1rem;
  background-position: center;
  margin-bottom: 5rem;
  top: 1.5rem;
  z-index: 2;
  left: 2%;
  padding: 13px 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: 'newspaper';
  font-size: 18px;
  position: relative;
  margin-right: 1rem;
}

nav ul li a:hover {
  color: #f12c88;
}

body {
  display: grid;
  place-items: center;
  font-family: var(--font-sans);  
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/Untitled\ design\ \(1\).jpg);
  background-size: cover;

}

.page-content {
  margin-top: 10rem;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 
              0 2px 2px rgba(0, 0, 0, 0.1), 
              0 4px 4px rgba(0, 0, 0, 0.1), 
              0 8px 8px rgba(0, 0, 0, 0.1),
              0 16px 16px rgba(0, 0, 0, 0.1);
  transition: transform var(--d) var(--e);
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;

  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:hover {
  align-items: center;

  &:before {
    transform: translateY(-4%);
  }
  &:after {
    transform: translateY(-50%);
  }

  .content {
    transform: translateY(0);

    > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transform: translateY(calc(100% - 4.5rem));
  transition: transform var(--d) var(--e);
  z-index: 1;

  > * {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }

  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  }

  .btn:hover {
    background-color: #111;
  }

  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .card:hover .content > * {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Specific styles for each card */
.card1 {
  background-color: #8cabd5;
  position: relative;
  left: -20%;
}

.card2 {
    background-color:#eba841;
  

}

.card3 {
    background-color: #4b1c1c;
  position: relative;
  right: -20%;
}

.card4 {
    background-color:#16944c;
  position: relative;
  left: -20%;
}

.card5 {
    background-color:#86669b;
}

.card6 {
    background-color:#da8c5f;
  position: relative;
  right: -20%;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    position: relative;
    top: 80%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-left: -2.4rem;

}
.card4, .card5, .card6{
    margin-top: 2rem;
}