*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
@font-face {
    font-family: 'newspaper';
    src: url('../fonts/NewspaperPersonalUseSemiExpandedRegular-7B0GB.ttf');
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/Untitled\ design\ \(4\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    width: 91rem;
    padding: 10px 15PX;
    background-color: #ffacb1;
    height: 4.3rem;
    margin-top: 1.9rem;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    position: absolute;
    left: 2%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    margin-top: 0.7rem;
    gap: 1px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'newspaper';
    font-size: 18px;
}

nav ul li a:hover {
    color: #f12c88;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 680px;
    height: 450px;
    padding: 40px;
    text-align: center;
    position: relative;
    margin-top: 6rem;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.card-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.card-text {
    font-size: 15px;
    margin: 0px 5rem;
    color: #2c2b2b;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
}
